<div id = "coursem_form">

     <h3> Create a New Course! </h3>
     <h4> <i>Please write n/a if not applicable.</i> </h4>
     <h5> <b> Note: Once Created. You can't delete or edit it anymore. </b> </h5>

     <div id="error_message" style= "color: red;" ></div>

    <div id="create_coursem">
      <%= form_tag('coursem/create', :method => "post", :remote => true, :id => "check_coursem_form") do %>
          <p>
          <b> <%= label_tag(:name, "Name:") %> </b>
          <%= text_field_tag(:name) %>
          </p>
          <p>
          <b> <%= label_tag(:department, "Department:") %> </b>
          <%= select_tag "department", @result.html_safe %>
          </p>
          <p>
          <b> <%= label_tag(:course_number, "Course Number:") %> </b>
          <%= text_field_tag(:course_number) %>
          </p>
          <p>
          <b> <%= label_tag(:term, "Semester:") %> </b>
          <%= select_tag "term", "<option>Please select below</option><option>Spring</option><option>Summer</option><option>Fall</option><option>Winter</option>".html_safe %>
          </p>
          <p>
          <b> <%= label_tag(:year, "Year:") %> </b>
          <%= text_field_tag(:year) %>
          </p>
          <p>
          <b> <%= label_tag(:professor, "Professor:") %> </b>
          <%= text_field_tag(:professor) %>
          </p>
          <p>
          <b> <%= label_tag(:unit, "Unit:") %> </b>
          <%= text_field_tag(:unit) %>
          </p>
          <p>
          <b> <%= label_tag(:coursem_info, "Course Information:") %> </b>
          <%= text_field_tag(:coursem_info) %>
          </p>

          <%= submit_tag("Create") %>

      <% end %>

    </div>

</div>