<% content_for :externals do %>
    <%= stylesheet_link_tag "event_calendar" %>
<% end %>

<div id="browse_container">
    <div id="title_panel">
    	<div id="header_title">
    	    <h2> <%= @coursem.course.department + " " + @coursem.course.course_number %></h2>
    	</div>

        <div id="header_name">
    	    <h3> <%= @coursem.semester.term + " " + @coursem.semester.year.to_s %></h3>
    	</div>
    </div>
    <div id="sub">
      <button id="sub_button" class='btn' value=<%=@subscribed%> coursem_id=<%=@coursem.id%>><%= @subscribe_text%></button>
    </div>
    <div id="tabs">
          <ul>
               <li id="button_overview" class="header_button">Overview</li>
               <li id="button_resources" class="header_button">Resources (<%= @coursem.resources.size %>)</li>
               <li id="button_announcements" class="header_button">Announcements (<%= @feed.size %>)</li>
               <li id="button_calendar" class="header_button">Calendar</li>
          </ul>
    </div>

    <div id="panel_description" class="panels">
        <b>Name</b><br />
        <p>
        <%= @coursem.course.name %>
        </p>

        <b>Professor</b><br />
        <p><%= @coursem.professor %></td></p>

        <b>Description</b><br />
        <p><%= @coursem.coursem_info %></p>

   </div>


   <div id = "panel_resources" class="panels">
     <b><%= link_to "Check Resources for this Course (All Semesters)",
                 {:controller => "coursem", :action => "resources", :courseid => @coursem.course_id, :coursemid => @coursem.id } %></b>
       <br/>
      <h4>
     <%= link_to "Add New Resource", {:controller => "resources", :action => "new", :user => @user.id, :coursem => @coursem.id }, :id => "new_resource" %>
   </h4>
     <div id="new_resource_div"></div>

     <%= render :partial => "/coursem/resources", :locals => {:coursem => @coursem} %>
    </div>

  <div id="panel_announcements" class="panels">
    <table class = "table" id="Feed">
      <% @feed.each do |a| %>
        <%= render :partial => '/resources/resource', :locals => {:resource => a} %>
      <% end %>
    </table>
  </div>

    <div id="panel_calendar" class="panels">
      <div id="edit_event_div"></div>

      <%= raw(event_calendar) %>
      <b><%= link_to "Add Event", {:controller => "events", :action => "new", :coursem => @coursem.id }, :id => "new_event" %></b>
      <div id="new_event_div"></div>
    </div>

</div>