<div id="browse_container">
    <div id="title_panel">
    	<div id="header_title">
    	    <h2> <%= @coursem.course.department + " " + @coursem.course.course_number %></h2>
    	</div>

        <div id="header_name">
    	    <h3> <%= @coursem.course.name %></h3>
    	</div>
    </div>

    <div id="tabs">
          <ul>
               <li id="button_overview" class="header_button">Overview</li>
               <li id="button_resources" class="header_button">Resources</li>
               <li id="button_statistics" class="header_button">Statistics</li>
               <li id="button_calendar" class="header_button">Calendar</li>
          </ul>
    </div>

    <div id="panel_description" class="panels">
        <b>Semester</b><br />
        <p>
        <%= @coursem.semester.term + " " + @coursem.semester.year.to_s %>
        </p>

        <b>Professor</b><br />
        <p><%= @coursem.professor %></td></p>

        <b>Description</b><br />
        <p><%= @coursem.coursem_info %></p>
   </div>


   <div id = "panel_resources" class="panels">
        <div class="resource_type">
            <div id="header_announcements" class = "resource_header">
              <span class="expand">+</span>
              <h2>Announcements</h2>
            </div>
              <table id="Announcement" class="resources">
              <% @coursem.resources.each do |resource| %>
                    <% if resource.type == "Anouncement" %>
                          <tr>
                            <td class="col_upvote"></td>
                            <td class="col_downvote"></td>
                            <td class="col_name"></td>
                            <td>
                              <%=  resource.name %>
                            </td>
                          </tr>
                    <% end %>
              <% end %>
             </table>
        </div>



</div>


  <div id="panel_calendar" class="panels">
    Calendar goes here

  </div>
