<div id="resource_form">
  <%= form_for(@resource, :remote=>true) do |f| %>

      <p>
        <%=  f.label :name %>
        <%=  f.text_field :name %>
      </p>
      <p>
        <%=  f.label :type %>
        <%=  f.select :type, options_for_select([['Homework', 'Homework'], ['Announcement', 'Announcement'],
            ['Discussion', 'Discussion'], ['Discussion Solution', 'DiscussionSolution'],
            ['Exam', 'Exam'], ['Exam Solution', 'Exam Solution'], ['Homework Solution', 'HomeworkSolution'],
            ['Lecture Notes', 'LectureNotes'], ['Online Resource', 'Online Resource']])
        %>
      </p>
      <p>
        <%=  f.label :link %>
        <%=  f.text_field :link %>
      </p>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.hidden_field :coursem_id, :value => @coursem.id %>
      <p><%=  f.submit :id=>"resource_submit" %></p>

  <% end %>
</div>