
<div id="title_container">
	<h2>Browse Courses</h2>
</div>

<div id="search_container">
	Search
	<table id="search">
		<tr>
			<td><input type="text" id="search_department" class="search_bar" value="Department" /></td>
			<td><input type="text" id="search_course" class="search_bar" value="Course" /></td>
		</tr>
	</table>
</div>

<div id="browse_container">
	<table>
		<tr class='row_header'>
			<td class='col_subscribe'></td>
			<td class='col_department'>Dept</td>
			<td class='col_course_number'>#</td>
			<td class='col_name'>Course</td>
			<td class='col_classes'></td>
		</tr>

	<% @courses.each do |course| %>
		<tr class="row_content">

			<td class='col_subscribe'></td>
			<td class='col_department'>  
				
				<a href='?dept=<%= course.department %>'>
					<%= course.department %> 
				</a>
			
			</td>
			<td class='col_course_number'><%= course.course_number %></td>
                        <td class='col_name'><a href='course/<%= course.id %>'><%= course.name %></a></td>
			<td class='col_classes'> 
					<select>
						<option value="NULL">--Select Semester--</option>
						<% course.course_semester.each do |course_semester| %>
							<option value='<%= course_semester.id %>'>
								<%= course_semester.term + " " + course_semester.year.to_s %>
								</option>
						<% end %>
					</select>
			</td>
		</tr>
	<% end %>
	</table>
</div>
