<table class="table" id="table_courses">
  <tr class='row_header'>
    <td class='col_goto'></td>
    <td class='col_department'>Dept</td>
    <td class='col_course_number'>#</td>
    <td class='col_name'>Course</td>
    <td class='col_classes'></td>
    <td class='col_subscribe'></td>
  </tr>

  <% @coursems.each do |coursem| %>
      <tr class="row_content" id='<%= coursem.id %>'>
        <td class='col_gooto'><a href="/coursem/<%= coursem.id %>">Goto</a></td>
        <td class='col_department'>
          <a href='/courses/?dept=<%= coursem.course.department %>'>
            <%= coursem.course.department %>
          </a>
        </td>
        <td class='col_course_number'><%= coursem.course.course_number %></td>
        <td class='col_name'><%= coursem.course.name %></td>
        <td class='col_classes'>
          <%= coursem.semester.term + " " + coursem.semester.year.to_s %>
        </td>
        <% if @viewingProfile != true %>
            <td class='col_unsubscribe'>
              <% if user_signed_in? %>
                  <button>Unsubscribe</button>
              <% else %>
                  <%= link_to "sign in", new_user_session_path %> to unsubscribe
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>