<%
username = @user.username
%>

<h2> About <%= username %> </h2>
<%= render :partial => '/users/info', :locals => { :user => @user } %>

<h2> Courses <%= username %> is subscribed to </h2>
<%= render :partial => '/users/coursems', :locals => {:coursems => @coursems} %>

<h2> Resources <%= username %> has posted </h2>
<table>
    <% @resources.each do |r| %>
        <%= render :partial => '/resources/resource', :locals => {:resource => r} %>
    <% end %>
</table>