<div id="browse_container">

  <form>
    Email: <b id="email-contents"><%= @email %></b>
    <input id="email-edit" type="text" name="email"><br>

    Username: <b id="username-contents"><%= @username %></b>
    <input id="username-edit" type="text" name="email"><br>
    <!--karma is not editable-->
    Karma: <b id="karma-contents"><%= @karma %></b>
    <br>
    <input id="done-button" type="submit" value="done">
  </form>

  <button id="edit-button">Click to edit</button>

</div>

<div id="course_container">

<h1>Your current courses:</h1>
  <table id="table_courses">
    <tr class='row_header'>
      <td class='col_goto'></td>
      <td class='col_department'>Dept</td>
      <td class='col_course_number'>#</td>
      <td class='col_name'>Course</td>
      <td class='col_classes'></td>
      <td class='col_subscribe'></td>
    </tr>

    <% @coursems.each do |coursem| %>
        <tr class="row_content" id='<%= coursem.id %>'>
          <td class='col_gooto'><a href="coursem/<%= coursem.id %>">Goto</a></td>
          <td class='col_department'>
            <a href='courses/?dept=<%= coursem.course.department %>'>
              <%= coursem.course.department %>
            </a>
          </td>
          <td class='col_course_number'><%= coursem.course.course_number %></td>
          <td class='col_name'><%= coursem.course.name %></td>
          <td class='col_classes'>
            <%= coursem.semester.term + " " + coursem.semester.year.to_s %>
          </td>
          <td class='col_unsubscribe'>
            <% if user_signed_in? %>
                <button>Unsubscribe</button>
            <% else %>
                <%= link_to "sign in", new_user_session_path %> to unsubscribe
            <% end %>
          </td>

        </tr>
    <% end %>
  </table>
 </div>

</div>