<h5> Note: Post broken link resources will decrease your karma! </h5>
<div id="error_message_resource" style= "color: red;" ></div>
<div id="resource_form" class='form-inline'>
  <%= form_for(@resource, :remote=>true, :html => { :id => "new_resource_form" }) do |f| %>

      <p>
        <%=  f.label :name %>
        <%=  f.text_field :name %>
      </p>
      <p>
        <%=  f.label :type %>
        <%=  f.select :type, options_for_select([['Homework', 'Homework'], ['Announcement', 'Announcement'],
            ['Discussion', 'Discussion'], ['Discussion Solution', 'DiscussionSolution'],
            ['Exam', 'Exam'], ['Exam Solution', 'ExamSolution'], ['Homework Solution', 'HomeworkSolution'],
            ['Lecture Note', 'LectureNotes'], ['Online Resource', 'OnlineResource']])
        %>
      </p>
      <p>
        <%=  f.label :link %>
        <%=  f.text_field :link %>
      </p>
      <%= f.hidden_field :user_id, :value => @user.id %>
      <%= f.hidden_field :coursem_id, :value => @coursem.id %>
      <p><%=  f.submit :id=>"resource_submit", :class=>'btn' %></p>

  <% end %>
</div>