<div id="title_container">
</div>

<div id="browse_container">
  <table id="resource_description">
    <tr>
      <td class='col_attr'>Name</td>
      <td></td>
      <td class='col_desc'><a href='<%= @resource.link %>' target="_blank"><%= @resource.name %></a></td>
      <td class='col_flag'>
        <% if @flag == false %>
          <span class="flag_icon" title="Flag <%= @resource.name %>">
            <button type="button" id='<%= @resource.id %>'>
              <%=  image_tag "white.png", :size => "16x10" %>
            </button>
          </span>
        <% else %>
          <span class="flag_icon" title="Unflag <%= @resource.name %>">
            <button type="button" id='<%= @resource.id %>'>
              <%=  image_tag "red.png", :size => "16x10" %>
            </button>
          </span>
        <% end %>
      </td>
      <td class='col_numflags'> Number of Flags: <%= @resource.flags %> </td>
    </tr>

    <tr>
      <td class='col_attr'>Type</td>
      <td></td>
      <td class='col_desc'><%= @resource.type %></td>
    </tr>


    <tr>
      <td class='col_attr'>User</td>
      <td></td>
      <td class='col_desc'><a href='/users/<%=@resource.user_id %>'><%=@resource.user.username %></a></td>
    </tr>

  </table>

  <table id="favorite">
    <tr>
      <td></td>
      <td class='col_addFavorite'> <input type='button' class='btn' id='<%= @resource.id %>' value=''>  </td>
    </tr>
  </table>

</div>

<div id="comment_container">
  <h5> Comment: </h5>
  <textarea rows ="4" cols ="40" id="comment_box"> </textarea>
  <button class='btn' type="button" onclick = handle_save(<%= @resource.id %>) >Save</button>
  <div>
    <% @resource.comments.each do |comment| %>
        <div class ="comment_display">
          <p id="comment_poster">
            <a href='/users/<%=comment.user_id %>'><%=  User.find_by_id(comment.user_id).username %></a>
          </p>
          <p id ="comment_content">
            <%= comment.content %>
          </p>

        </div>

    <% end %>
  </div>
</div>
