<div id="search_container">
	Search
	<table id="search">
		<tr>
			<td><input type="text" id="search_department" class="search_bar" placeholder="Department" /></td>
			<td><input type="text" id="search_course" class="search_bar" placeholder="Course" /></td>
		</tr>
	</table>
</div>

<div id="browse_container">
	<table>
		<tr class='row_header'>
			<td class='col_subscribe'></td>
			<td class='col_department'>Dept</td>
			<td class='col_course_number'>#</td>
			<td class='col_name'>Course</td>
			<td class='col_classes'></td>
                <td class='col_subscribe'></td>
		</tr>

	<% @courses.each do |course| %>
		<tr class="row_content" id='<%= course.id %>'>

			<td class='col_subscribe'></td>
			<td class='col_department'>  
				
				<a href='?dept=<%= course.department %>'>
					<%= course.department %> 
				</a>
			</td>
			<td class='col_course_number'><%= course.course_number %></td>
            <td class='col_name'><a href='courses/<%= course.id %>'><%= course.name %></a></td>
			<td class='col_classes'> 
					<select>
						<option value="NULL">--Select Semester--</option>
						<% course.coursems.each do |course_semester| %>
							<option value='<%= course_semester.id %>'>
								<%= course_semester.semester.term + " " + course_semester.semester.year.to_s %>
							</option>
						<% end %>
					</select>
			</td>
            <td class='col_subscribe'>
              <% if user_signed_in? %>
                  <button>Subscribe</button>
              <% else %>
                  <%= link_to "sign in", new_user_session_path %> to subscribe
              <% end %>
            </td>

		</tr>
	<% end %>
	</table>
</div>
