<div id="search_container">
	<table id="search">
		<tr>
			<td><input type="text" id="search_department" class="search_bar" placeholder="Department" /></td>
			<td><input type="text" id="search_course" class="search_bar" placeholder="Course" /></td>
		    <td><input type="button" class='btn' id="button_search" value="Search" /></td>
            <td><a href="courses">View All</a></td>
        </tr>
	</table>
</div>

<div id="browse_container">

	<table>
		<tr class='row_header'>
			<td class='col_goto'></td>
			<td class='col_department'>Dept</td>
			<td class='col_course_number'>#</td>
			<td class='col_name'>Course</td>
			<td class='col_classes'></td>
            <td class='col_subscribe'></td>
		</tr>
    </table>

    <div id="courses">
	 <% @courses.each_with_index do |course, index| %>

        <% if index % 10 == 0 %>
            <table class='table_course' id="table_<%= index / 10%>">
        <% end %>

		<tr class="row_content" id='<%= course.id %>'>

			<td class='col_goto'>
              <a href="">
                Goto
              </a>
			</td>
			<td class='col_department'>  
				
				<a href='?dept=<%= course.department %>'>
					<%= course.department %> 
				</a>
			</td>
			<td class='col_course_number'><%= course.course_number %></td>
            <td class='col_name'><%= course.name %></td>
			<td class='col_classes'> 
					<select>
						    <% course.coursems.reverse.each do |course_semester| %>
							<option value='<%= course_semester.id %>'>
								<%= course_semester.semester.term + " " + course_semester.semester.year.to_s %>
							</option>
						<% end %>
					</select>
			</td>
            <td class='col_subscribe'>
              <% if user_signed_in? %>
                  <button class='button_subscribe btn'></button>
              <% else %>
                  <%= link_to "sign in", new_user_session_path %> to subscribe
              <% end %>


            </td>

		</tr>

          <% if index % 10 == 9 %>
              </table>
          <% end %>
	<% end %>

      <% if @courses.length % 10 != 0 %>
            </table>
      <% end %>

    </div>
      <div id="courses_navigation">
        <% if @courses.length != 0 %>
            <div id="button_prev" class="btn button_course">
              Prev
            </div>
            <div id="button_next" class="btn button_course">
              Next
            </div>
        <% end %>
      </div>

      <div id="new_coursem">
        <% if user_signed_in? %>

          <% if @courses.length == 0 %>

            <b>
              Sorry, no such Course Existed!
            </br>
              Create a New One! or Search Again!
            </b>
            </br>

            <%= link_to "Add New Course", {:controller => "coursem", :action => "new"}, :id => "new_coursem_form" %>
          <% end %>
        <% else %>
            <b>
              Sorry, no such Course Existed!
            </br>
              Create a New One! or Search Again!
            </b>
            </br>
            <%= link_to "sign in", new_user_session_path %> to create
        <% end %>
      </div>

      <div id = new_coursem_div></div>


  <div id="num_courses"><%= @courses.length %></div>

</div>
