<!DOCTYPE HTML>
<html lang="en" xml:lang="en">
<head>
  <title><%= @page_title or 'CourseHub' %></title>

  <!-- <%= stylesheet_link_tag "application" %>  -->

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag params[:controller] %>

  <%= javascript_include_tag "application", controller_name %>

  <%= yield :externals %>

  <%= csrf_meta_tag %>

  <style type="text/css"><%= yield :stylesheets %></style>
</head>
<body>

<div id="container">

  <div id="top_banner">
    <a href=<%= new_user_session_path %> ><%=  image_tag "CourseHub.png" %></a>
  </div>

  <% if user_signed_in? %>
      <div class='navbar'>
        <div class='navbar-inner'>

        <ul class='nav'>
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Browse Courses</a></li>

          <% if user_signed_in? %>
              <li class='dropdown'>
                  <a class='dropdown-toggle' data-toggle='dropdown' href="#">
                    My Courses
                    <b class='caret'></b>
                  </a>
                  <ul class='dropdown-menu' role='menu' aria-labelledby="dLabel">
                    <% current_user.coursems.each do |coursem| %>
                        <li>
                          <a  tabindex="-1" href="coursem/<%= coursem.id %>">
                            <%= coursem.course.department %>
                            <%= coursem.course.course_number %>
                          </a>
                        </li>

                    <% end %>
                    <li class="divider"></li>
                    <li>
                      <a tabindex="-1"  href="/users/coursems">All My Courses</a>
                    </li>
                  </ul>

              </li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %> </li>
          </ul>
              <ul class='nav pull-right'>

              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
          <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></li>
          <% end %>


        </div>
      </div>
  <% end %>


  <% if not @page_heading.nil? %>
      <div id = "title_container"><h2><%= @page_heading or 'Page Heading' %></h2></div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <footer>

  </footer>

</div>
</body>
</html>
